- content_for :heading do
  Subscription

:javascript
  $(function() {
    $("#cancel_submit").click(function(e) {
      $(this).hide();
      $("#confirm_cancel_prompt").show();
      e.preventDefault();
    });
    $("#confirm_cancel").click(function(e) {
      $("#cancel_subscription_form").submit();
      e.preventDefault();
    });
    $("#cancel_cancel").click(function(e) {
      $("#confirm_cancel_prompt").hide();
      $("#cancel_submit").show();
      e.preventDefault();
    });
    $("#toggle_licence").click(function() {
      $("#licence").toggle();
    });
    $(".subscribe").click(function(e) {
      if ($("#agree_to_licence:checked").length == 0) {
        $(".agree_to_licence_message").show();
        e.preventDefault();
      }
    });
  });
  function show_over_limit_message(plan_name) {
    $(".over_limit_message").html("You have more users or checklists than the " + plan_name + " allows. Please choose another plan.").show();
  }


#buttons
  %a.button(href = "/") Go to checklists
  %a.button(href = "#{edit_user_registration_path}") Go to settings

%b Current plan:
#{@plan[:name]}
%br
#{@plan[:users]} users
%br
#{@plan[:checklists]} checklists
%br
%br
%a(href = "#{@edit_subscription_url}") Subscription details and billing history

%h2 Change plan
<span class = "message">Important</span>: OnlineChecklists is a product of Aotea Studios, so you will see charges
from <b>Aotea Studios</b> on your credit card statement.
%br
%br
%table(style = "border-top: 1px dotted #c0c0c0")
  %tr
    - @plans.each do |plan|
      - next if plan[:name] == @plan[:name]
      %td(style = "width: 200px")
        %h3= plan[:name]
        $#{plan[:price]}/month
        %br
        #{plan[:users]} users
        %br
        #{plan[:checklists]} checklists
        %br
        %br
        %a.subscribe.button(href = "#{plan[:url] ? plan[:url] : "javascript: show_over_limit_message('" + plan[:name] + "')"}") Subscribe
.over_limit_message.message(style = "margin-top: 20px; display:none") You have more users or checklists than this plan allows.
.agree_to_licence_message.message(style = "margin-top: 20px; display:none") Please tick the checkbox below to confirm you've read and agreed to the Terms of use.
%br
- if current_user.account.on_trial?
  %input#agree_to_licence(type = "checkbox")
- else
  %input#agree_to_licence(type = "checkbox" checked = "checked")

%label(for = "agree_to_licence")
  I have read and agreed to the terms of the
%a#toggle_licence(href = "#") OnlineChecklists Terms of use
%br
#licence(style = "display: none")
  = render :partial => "licence"

%br
%br
You can change your plan at any time, provided the number of checklists and users you have is within the new plan limits.
%br
%br
Charges will be pro-rated accordingly. If you are changing to a smaller plan, you will receive store credit.
%br
%br
We use industry leading payment systems to ensure the security of your credit card data (we never see your data ourselves):
%br
%br
%div(style = "float:left; text-align: center")
  %img(src = "/images/dpslogo.gif" alt = "DPS PaymentExpress")
  %br
  (<a target = "_blank" href = "http://www.paymentexpress.com/about/about_paymentexpress/privacy_policy.html">privacy policy</a>)
%img(src = "/images/spreedlylogo.gif" alt = "Spreedly" style = "display: block; float: left; padding-left: 50px")
%div(style = "clear: both")
%br
%br


%h2 Cancel subscription
%p
  If you require your data, please get in touch with us at
  %a(href = "mailto:support@onlinechecklists.com") support@onlinechecklists.com
  %br
  %br
  %form#cancel_subscription_form(action = "#{registration_path(resource_name)}" method = "post")
    %input(type = "hidden" name = "authenticity_token" value = "#{form_authenticity_token}")
    %input(type = "hidden" name = "_method" value = "delete")
    %a.button_red#cancel_submit(href = "#") Cancel subscription
    #confirm_cancel_prompt(style = "display: none")
      %b Confirm cancellation of your subscription?
      %br
      Neither you nor other users will be able to access checklists or reports anymore.
      %a#confirm_cancel(href = "#") Confirm
      or
      %a#cancel_cancel(href = "#") Cancel


