- content_for :heading do
  Sign up

= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  = f.hidden_field :plan, :value => flash.now[:plan]
  %p
    You are signing up for a <b> 14-day free trial</b>.
    %br
    You can select a suitable paid plan from within the application at any time.
  %p
    = f.label :name
    %br/
    = f.text_field :name
  %p
    = f.label :email
    %br/
    = f.text_field :email
  %p
    = f.label :password
    %br/
    = f.password_field :password
  %p
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  %p= f.submit "Sign up"
= render :partial => "devise/shared/links"

%p(style = "border-top: 1px dotted #c0c0c0; width: 80%; padding-top: 20px")
  Please note that we recommend using a modern browser for best experience: Mozilla Firefox, Google Chrome or Internet Explorer 8 or newer.