!!!
%html
  %head
    %title OnlineChecklists
    = csrf_meta_tag

    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"
    = javascript_include_tag "underscore-min"

    - if controller.controller_name == "checklists"
      = javascript_include_tag Rails.env == "production" ? "backbone-min" : "backbone"
      = javascript_include_tag "http://www.google.com/jsapi"
      = javascript_include_tag "users"
      = javascript_include_tag "checklists"
      = javascript_include_tag "reports"
      = javascript_include_tag "application"

    = stylesheet_link_tag "checklists"

    :javascript
      var current_user = #{current_user.to_json(:only => User::JSON_FIELDS)};
      var current_account = #{current_user ? current_user.account.to_json(:only => [:time_zone]) : "null"};

      $(function() {
        // Straight from Rails.js: Make sure that every Ajax request sends the CSRF token
        function CSRFProtection(xhr) {
        var token = $('meta[name="csrf-token"]').attr('content');
        if (token) xhr.setRequestHeader('X-CSRF-Token', token);
        }
        if ('ajaxPrefilter' in $) $.ajaxPrefilter(function(options, originalOptions, xhr){ CSRFProtection(xhr) });
        else $(document).ajaxSend(function(e, xhr){ CSRFProtection(xhr) });


        // using a global handler for Set time zone button because time zone can be set from two places:
        // - the home page on first login
        // - the settings page
        $("#set_time_zone").live("click", function (e) {
          current_account.time_zone = $(this).prev("select").val();
          $(this).html("Saving...");
          self = this;
          $.post("/time_zone", {time_zone: $(this).prev("select").val()}, function (data, textStatus, xhr) {
            $(self).html("Set time zone");

            // redirect to another location via the location hash when the href attribute is set
            if ($(self).attr("href") != "#")
              window.location.hash = $(self).attr("href");
          });
          e.preventDefault();
        });
      });

  %body
    #header
      #nav
        - if user_session[:account_status]
          #account_status= user_session[:account_status]

        .logo
          %a(href = "#{root_path}")
            <span class = "capital">O</span>nline<span class = "capital">C</span>hecklists

        - if current_user && user_signed_in?
          #{current_user.safe_name}
          |
          = link_to "Settings", edit_user_registration_path
          |
          = link_to 'Sign out', destroy_user_session_path
      %h1#heading
        = yield :heading

    #main
      = yield

