!!!
%html
  %head
    %title OnlineChecklists
    = csrf_meta_tag

    = hoptoad_javascript_notifier

    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"
    = javascript_include_tag "underscore-min"
    = javascript_include_tag "json2"

    /= javascript_include_tag "https://getfirebug.com/firebug-lite.js"
    -#<!--[if lt IE 9]>
    -#<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    -#<![endif]-->

    - if controller.controller_name == "checklists"
      = javascript_include_tag "http://www.google.com/jsapi"
      = javascript_include_tag "backbone-ie7"
      = javascript_include_tag "users"
      = javascript_include_tag "checklists"
      = javascript_include_tag "reports"
      = javascript_include_tag "application"
      = javascript_include_tag "jquery.scrollintoview"

    = stylesheet_link_tag "checklists"

    - if current_user && user_signed_in?
      = javascript_include_tag "fancybox/jquery.fancybox-1.3.4.pack"
      = stylesheet_link_tag "fancybox/jquery.fancybox-1.3.4"

    :javascript
      var current_user = #{current_user.to_json(:only => User::JSON_FIELDS)};
      var current_account = #{current_user ? current_user.account.to_json(:only => [:time_zone]) : "null"};

  %body
    #header
      #nav
        - if current_user && user_signed_in?
          - if signed_in?(:user) && user_session && user_session[:account_status]
            #account_status= user_session[:account_status]

        .logo
          %a(href = "#{user_signed_in? ? root_path : "http://onlinechecklists.com"}")
            <span class = "capital">O</span>nline<span class = "capital">C</span>hecklists

        - if current_user && user_signed_in?
          #{current_user.safe_name}
          |
          = link_to "Settings", edit_user_registration_path
          |
          = link_to "Help & support", support_path
          |
          = link_to 'Sign out', destroy_user_session_path
      %h1#heading
        = yield :heading

    #main
      - if current_user && user_signed_in?
        %a#feedback_button(href = "#feedback_form")
          %img#feedback_image(src = "/images/feedback.gif" alt = "Feedback")
        %div(style = "display: none")
          #feedback_form
            %textarea(id = "feedback_message" name = "message" style = "width: 95%; margin-top: 10px; margin-left: auto; margin-right: auto; display: block; height: 370px")
            %div(style = "margin-top: 10px; margin-left: auto; margin-right: auto; width: 95%; padding: 0")
              %button Send


      = yield


    :javascript
      $(function() {
        // Straight from Rails.js: Make sure that every Ajax request sends the CSRF token
        function CSRFProtection(xhr) {
          var token = $('meta[name="csrf-token"]').attr('content');
          if (token) xhr.setRequestHeader('X-CSRF-Token', token);
        }
        if ('ajaxPrefilter' in $)
          $.ajaxPrefilter(function(options, originalOptions, xhr){ CSRFProtection(xhr) });
        else
          $(document).ajaxSend(function(e, xhr){ CSRFProtection(xhr) });
      });

    - if current_user && user_signed_in?
      :javascript
        $(function() {
          $("#feedback_button").fancybox({
            autoDimensions: false,
            width: 700,
            height: 450,
            frameHeight: 450
          });
          $("#feedback_form button").click(function(event) {
            $.post("/help/support",
              {
                message: $("#feedback_message").val(),
                location: window.location.href
              }
            );
            $("#feedback_message").val("");
            $.fancybox.close();
          });
        });