!!!
%html
  %head
    %title OnlineChecklists
    = csrf_meta_tag

    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"
    = javascript_include_tag "underscore-min"

    - if controller.controller_name == "checklists"
      = javascript_include_tag Rails.env == "production" ? "backbone-min" : "backbone"
      = javascript_include_tag "http://www.google.com/jsapi"
      = javascript_include_tag "users"
      = javascript_include_tag "checklists"
      = javascript_include_tag "reports"
      = javascript_include_tag "application"

    = stylesheet_link_tag "checklists"

    :javascript
      var current_user = #{current_user.to_json(:only => User::JSON_FIELDS)};
      var current_account = #{current_user ? current_user.account.to_json(:only => [:created_at], :methods => [:has_entries]) : "null"};

  %body
    #header
      #nav
        .logo
          %a(href = "#{root_path}")
            <span class = "capital">O</span>nline<span class = "capital">C</span>hecklists

        - if current_user && user_signed_in?
          #{current_user.safe_name}
          |
          = link_to "Settings", edit_user_registration_path
          |
          = link_to 'Sign out', destroy_user_session_path
      %h1#heading
        = yield :heading

    #main
      = yield

