!!!
%html
  %head
    %title OnlineChecklists
    = csrf_meta_tag

    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"
    = javascript_include_tag "underscore-min"
    = javascript_include_tag Rails.env == "production" ? "backbone-min" : "backbone"
    = javascript_include_tag "users"
    = javascript_include_tag "checklists"
    = javascript_include_tag "application"

    = stylesheet_link_tag "checklists"

    :javascript
      var current_user = #{current_user.to_json}
  %body
    #header
      #{current_user.name.empty? ? current_user.email : current_user.name}
      |
      = link_to "Settings", edit_user_registration_path
      |
      = link_to 'Sign out', destroy_user_session_path
    #main
      = yield

